altgraph==0.17
dill==0.3.3
future==0.18.2
importlib-metadata==3.7.3
multiprocess==0.70.11.1
Nuitka==0.6.13
pathos==0.2.7
pefile==2019.4.18
pox==0.2.9
ppft==1.6.6.3
pyinstaller-hooks-contrib==2021.1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQt6-Qt6==6.0.2
PyQt6-sip==13.0.1
pyserial==3.5
pyserial-asyncio==0.5
pywin32-ctypes==0.2.0
six==1.15.0
zipp==3.4.1
